.atas {
    display: flex;
    gap: 20px;
}
.tengah {
    display: flex;
    justify-content: space-between;
}
.box1 {
    background-color: yellow;
    height: 100px;
    width: 250px;
}
.box2 {
    background-color: red;
    height: 100px;
    width: 100%;
}
.box3 {
    background-color: green;
    height: 700px;
    width: 220px;
}
.box4 {
    background-color: cyan;
    height: 700px;
    width: 220px;
}
footer {
    background-color: blue;
    height: 100px;
}